<header class="navbar">
    <nav>
        <div class="image-wrapper">
            <img src="{{ asset('uploads/logoProjetPhp.png') }}" alt="Image description">
        </div>
        <a href="{{ path('app_home') }}" class="btn">Accueil</a>

        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="btn">Logout</a>
            <a href="{{ path('app_profile') }}" class="btn">Profil</a>
            <a href="{{ path('app_team') }}" class="btn">Equipe</a>
            <a href="{{ path('app_all_team') }}" class="btn">Toute les Equipes</a>
            <a href="{{ path('app_display') }}" class="btn">Tournois</a>

            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{ path('admin') }}" class="btn">Admin</a> <!-- Bouton Admin -->
            {% endif %}

        {% else %}
            <a href="{{ path('app_login') }}" class="btn">Login</a>
        {% endif %}
    </nav>
</header>

<style>
    html, head, body{
        background-color : white;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #000f22

        ;
    }

    .navbar nav {
        display: flex;
        gap: 10px;
    }

    .image-wrapper img {
        max-width: 50px; /* Ajuste la taille de l'image */
        height: auto;
        border-radius : 20px;
    }

    .btn {
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        background-color: #007bff;
        border-radius: 5px;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style>
